@use "@/theme/fonts";

:root {
	--odoo-dark-accent-color: #b972a6;
	--odoo-dark-accent-color-hover: #7b4775;
	--odoo-dark-accent-input-color: #02c7b5;
	--odoo-dark-button-color: #6b3e66;
	--odoo-dark-button-color-hover: #7b4775;
}

body {
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #262a36;
}

.sidebar {
	width: 20%;
	background-color: #1b1d26;
	display: flex;
	flex-direction: column;

	h1 {
		color: #02c7b5ab;
		text-align: center;
		padding: 20px;
		margin-bottom: 35px;
	}

	.x-odoo-options-page-sidebar-footer,
	.x-odoo-options-page-sidebar-footer-version {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: auto;
		color: white;
		gap: 5px;
	}

	.x-odoo-options-page-sidebar-footer {
		flex-direction: column;
		padding-bottom: 20px;
	}

	.x-odoo-backup-options-container-buttons {
		display: flex;
		gap: 12px;
		margin-bottom: 10px;

		button {
			padding: 6px;
			background-color: transparent;
			color: var(--odoo-dark-button-color-hover);
			border: 1px solid var(--odoo-dark-button-color);
			border-radius: 4px;
			font-size: 12px;
			cursor: pointer;
			transition: background-color 0.2s, color 0.2s;

			&:hover {
				color: white;
				background-color: var(--odoo-dark-button-color-hover);
			}
		}
	}

	.x-odoo-backup-options-status-message {
		width: 80%;
		margin-bottom: 10px;
		padding: 12px;
		border-radius: 4px;
		font-size: 13px;
		display: none;

		&.success {
			display: block;
			border-left: solid 3px #0c5024;
			background-color: #062812;
			color: #a5e9bd;
		}

		&.error {
			display: block;
			border-left: solid 3px #4a1414;
			background-color: #250a0a;
			color: #e3adad;
		}
	}

	.x-odoo-button-with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}

	.x-odoo-button-icon {
		flex-shrink: 0;
	}
}

.content {
	width: 80%;
	overflow-x: hidden;
	overflow-y: auto;
	color: #E4E4E4;

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: 8px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
		background-color: #555;
	}
}

.x-odoo-options-page-buttons {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.x-odoo-options-page-button {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #B1B3BC;
	padding: 15px 30px;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;

	&.active {
		background-color: #192e34;
		box-shadow: inset 2px 0 0 #02c7b5;
	}
}

.x-odoo-options-page-button.active,
.x-odoo-options-page-button:hover {
	color: #E4E4E4;
}

.x-odoo-options-page {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;

	.x-odoo-options-page-option-title {
		background-color: #3C3E4B;
		padding: 5px 5px 5px 15px;
		display: flex;
		gap: 3px;
	}

	label {
		margin-right: 10px;
	}

	&.x-odoo-options-page-no-favorites p,
	&.x-odoo-options-page-no-favorites a {
		margin-left: 15px;
	}
}

.x-odoo-options-drag-handler {
	display: flex;
	align-items: center;
	margin-right: 5px;
	cursor: grab;
}

.x-odoo-options-page-favorite-row {
	display: flex;
	margin-left: 10px;

	input {
		background-color: rgba(255, 255, 255, .2);
	}

	a {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			background-color: #004d52;
		}
	}

	a,
	input {
		flex: 1;
		font-size: 16px;
		color: #E4E4E4;
		text-decoration: none;
		font-weight: 400;
		padding: 8px;
		border: 1px solid #017e84;
		border-radius: 8px;
		text-align: center;
	}

	&[data-swapy-dragging] {
		a {
			background-color: #004d52;
		}

		.x-odoo-options-drag-handler {
			cursor: grabbing;
		}
	}
}

.x-odoo-options-page-favorite-rows {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.x-odoo-options-page-favorite-disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: default !important;
	text-decoration: none !important;
}

[class*="favorite-"][class*="-button"] {
	font-size: 12px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	color: #85868b;

	&:disabled {
		cursor: default;
		opacity: 0.4;
	}

	&[class*="edit-button"]:hover:not(:disabled),
	&[class*="reset-button"]:hover,
	&[class*="link-button"]:hover:not(:disabled),
	&[class*="delete-button"]:hover:not(:disabled) {
		color: #E4E4E4;
	}
}

#debug-mode {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	gap: 12px;

	label {
		display: block;
		width: fit-content;
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		input {
			&:checked {
				&~.checkmark {
					background-color: var(--odoo-dark-accent-input-color);

					&:after {
						display: block;
					}
				}
			}
		}

		.checkmark {
			&:after {
				top: 4px;
				left: 4px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: black;
			}
		}

		&:hover {
			.checkmark {
				border-color: var(--odoo-dark-accent-input-color);
			}
		}
	}

	input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
	}

	.debug-mode-tips {
		display: flex;
		margin-bottom: 15px;
		margin-left: 0;
		margin-right: 5px;
		align-items: center;
		gap: 8px;
		background-color: #253f58;
		padding: 8px;
		border-radius: 6px;
	}
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.25);

	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}

.x-odoo-options-page-link {
	color: #4ed8cb;
	margin-top: 1em;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	&:hover {
		.slider {
			border-color: var(--odoo-dark-accent-input-color);
		}
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid rgba(255, 255, 255, 0.25);

	&:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 4px;
		bottom: 3px;
		background-color: white;
	}

	&.round {
		border-radius: 34px;

		&:before {
			border-radius: 50%;
		}
	}
}

input[type="checkbox"] {
	&:checked {
		&+.slider {
			background-color: var(--odoo-dark-accent-input-color);

			&:before {
				background-color: black;
				-webkit-transform: translateX(16px);
				-ms-transform: translateX(16px);
				transform: translateX(16px);
			}
		}
	}
}

.x-odoo-options-page-print-options-rows {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.switch {

	.x-odoo-options-page-label-on,
	.x-odoo-options-page-label-off {
		position: absolute;
		top: 2px;
	}

	.x-odoo-options-page-label-on {
		display: none;
	}

	input:checked {
		&~.x-odoo-options-page-label-on {
			display: block;
		}

		&~.x-odoo-options-page-label-off {
			display: none;
		}
	}

	&.pdf-print-switch .x-odoo-options-page-label-on,
	&.pdf-print-switch .x-odoo-options-page-label-off {
		right: -40px;
	}

	&.html-print-switch .x-odoo-options-page-label-on,
	&.html-print-switch .x-odoo-options-page-label-off {
		right: -51px;
	}

	&.default-switch .x-odoo-options-page-label-on {
		right: -38px;
	}

	&.default-switch .x-odoo-options-page-label-off {
		right: -41px;
	}
}

.x-odoo-options-page-tooltip {
	cursor: help;
	position: relative;
	display: inline-block;
	margin-left: 5px;
}

.x-odoo-options-page-tooltip-message {
	visibility: hidden;
	width: max-content;
	background-color: black;
	border-radius: 6px;
	padding: 10px;
	font-size: 12px;
	position: absolute;
	z-index: 1;
	top: -7px;
	left: 20px;

	ul {
		padding-inline-start: 20px;
		margin-bottom: 0;
	}
}

.x-odoo-options-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 999;
}

.x-options-input {
	&[type="text"] {
		min-width: 345px;
		font-size: 14px;
		padding-bottom: 5px;
		border: none;
		border-bottom: 1px solid #3C3E4B;
		background: transparent;
		color: #E4E4E4;
		outline: none;

		&:focus-within,
		&:hover {
			border-color: #02c7b5;
		}

		&.has-error {
			background-color: #b832321a;
			color: #ff5757;
			border-color: #b83232;
		}
	}
}

.x-odoo-options-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #E4E4E4;
	width: 350px;
	z-index: 1000;
	background-color: #1f2937;
	padding: 24px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;

	.x-odoo-options-modal-content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		#cancel-task-link,
		#save-task-link {
			color: white;
			border: none;
			padding: 8px 16px;
			border-radius: 3px;
			cursor: pointer;
		}

		#save-task-link {
			background-color: #14b8a6;

			&:hover {
				background-color: #0d9488;
			}
		}

		#cancel-task-link {
			background-color: #3C3E4B;

			&:hover {
				background-color: #5A5E6B;
			}
		}

		.x-odoo-options-modal-content-footer {
			display: flex;
			gap: 8px;
			margin-top: 10px;
		}

		h2 {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.x-odoo-options-page-task-link-save-button {
	visibility: hidden;
	background-color: transparent;
	border: 0;
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

.x-odoo-options-page-task-link-error-message,
.x-odoo-options-modal-task-link-error-message,
.x-odoo-options-page-task-link-regex-error-message {
	display: none;
	margin-left: 5px;
	margin-top: 5px;
	color: #ff5757;
}

.x-odoo-options-page-task-link-category {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.x-options-form-group {
	--pad: .75rem;
	position: relative;

	input {
		padding: var(--pad);
		color: inherit;
		width: 300px;
		outline: none;

		&::placeholder {
			opacity: 0;
		}

		&:focus+label,
		&:not(:placeholder-shown)+label {
			transform: translateY(calc(-50% - var(--pad))) scale(.8);
		}

		&:not(:placeholder-shown):focus+label,
		&:not(:placeholder-shown):hover+label {
			color: #02c7b5;
		}

		&:not(:placeholder-shown):not(:focus):not(:hover)+label {
			color: #9b9b9b;
		}
	}

	label {
		color: #9b9b9b;
		position: absolute;
		left: var(--pad);
		top: var(--pad);
		background: var(--bg);
		padding-inline: .3em;
		transition: transform 200ms;
		pointer-events: none;
		transform-origin: left;
		translate: -.3em;
	}
}

.x-odoo-options-page-task-link-category>div>div {
	display: flex;
	align-items: center;
}

.x-odoo-options-page-options-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	max-width: 95%;
	margin: 0 auto;
	grid-auto-rows: min-content;
}

.x-odoo-options-page-option-item {
	border-left: 1px solid #3C3E4B;
	padding: 10px 12px;
	height: fit-content;

	h3 {
		margin-top: 0;
	}
}

#extension-version {
	font-size: 12px;
}

@media (max-width: 768px) {
	.x-odoo-options-page-options-container {
		grid-template-columns: 1fr;
	}
}
