$header-background-color: #1d2024;
$header-text-color: #02c7b5ab;
$header-link-color: #fff;
$header-border-color: #2e3238;

$body-background-color: #1d2024;

$footer-background-color: #1e2d33;
$footer-text-color: #fff;

$favorite-row-link-color: #dbdde1;
$favorite-row-arrow-color: #017e84;
$favorite-odd-row-background-color: #2e32384d;

$favorite-hover-row-link-color: #fff;
$favorite-hover-row-arrow-color: #17957c;
$favorite-hover-row-background-color: #2e3238;
