$header-background-color: #714B67;
$header-text-color: #fff;
$header-link-color: #21B799;
$header-border-color: #714B67;

$body-background-color: #fff;

$footer-background-color: #e4e4e4;
$footer-text-color: #714B67;

$favorite-row-link-color: #714B67;
$favorite-row-arrow-color: #479e9c;
$favorite-odd-row-background-color: #eaecec;

$favorite-hover-row-link-color: #fff;
$favorite-hover-row-arrow-color: #fff;
$favorite-hover-row-background-color: #479e9c;
