@use "@/theme/variables";
@use "@/theme/fonts";

body {
	overflow-x: hidden;
	background-color: variables.$body-background-color;
}
header {
	margin: -10px;
	background-color: variables.$header-background-color;
	padding: 22px 22px 21px 22px;
	border-bottom: 1px variables.$header-border-color solid;
}
footer {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	background-color: variables.$footer-background-color;
	color: variables.$footer-text-color;
	align-items: center;
	margin: 5px -8px -8px;
	padding: 15px;
	gap: 5px;
	.left-side-footer {
		display: flex;
		gap: 8px;
		height: 18px;
		span {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
	}
}
.container {
	width: 280px;
	margin: -10px -10px -10px;
}
.title {
	font-size: 20px;
	font-weight: 600;
	color: variables.$header-text-color;
	margin: 0;
	letter-spacing: -0.5px;
	text-align: center;
	a {
		color: variables.$header-link-color;
		text-decoration: initial;
	}
}
.no-favorites {
	padding: 0;
	margin: 18px 10px;
	text-align: center;
	font-size: 13px;
	color: variables.$favorite-row-link-color;
	a {
		color: variables.$header-link-color;
	}
}
#projects {
	padding: 0;
	margin: 18px 10px;
	div.x-odoo-favorite-popup-row {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		border-radius: 8px;
		cursor: pointer;
		&:nth-child(odd) {
			background-color: variables.$favorite-odd-row-background-color;
		}
		a {
			display: inline-flex;
			flex: 1;
			padding: 12px;
			color: variables.$favorite-row-link-color;
			text-decoration: none;
			overflow: hidden;
		}
		span.x-odoo-favorite-popup-row-arrow-icon {
			color: variables.$favorite-row-arrow-color;
			font-weight: 800;
			float: right;
			height: 18px;
			width: 18px;
			margin-left: auto;
		}
		span.x-odoo-favorite-popup-row-text {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&:hover {
			background-color: variables.$favorite-hover-row-background-color;
			span.x-odoo-favorite-popup-row-text {
				color: variables.$favorite-hover-row-link-color;
			}
			span.x-odoo-favorite-popup-row-arrow-icon {
				color: variables.$favorite-hover-row-arrow-color;
			}
		}
	}
}
#icon-settings {
	display: flex;
	align-items: center;
	gap: 5px;
	height: 18px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.settings-text {
        opacity: 0;
        transform: translateX(20px);
		&.transition {
        	transition: opacity 0.5s ease, transform 0.5s ease;
		}
        margin-left: 5px;
    }

    svg {
        transition: transform 0.5s ease;
    }

    &:hover .settings-text {
        opacity: 1;
        transform: translateX(0);
    }

    &:hover svg {
        transform: rotate(-60deg);
    }
}
#toggle-popup-theme, #toggle-debug-mode {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
